html{
	font-family: "Red Hat Mono";
	padding: 0.2rem 4rem;	
}

body{
	background: #EEEEEE;
}

h1{
	color: #373A40;
}

h2{
	color: #DC5F00;
}

p{
	font-size: 24px;
	color: #686D76;
}

a{
	text-decoration: none;
	font-weight: 600;
	color: #DC5F00;
}

.share{
	margin-top: 20px;
	display: flex;
}
a{
	margin-right: 15px;
	width: auto;
}

@media only screen and (max-width: 600px) {
  html {
    padding: 15px;
  }
}
